* {
  margin: 0;
  padding: 100;
  font-family: "得意黑";
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: #e5e7eb;
}

.el-message {
  width: 20rem !important;

  * {
    font-size: 20px !important;
  }
}

.el-dialog {
  width: 50rem !important;
  border-radius: 0.75rem !important;

  * {
    font-size: 20px !important;
  }
}

.el-message-box {
  transform: scale(1.5);
}
